<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"
          asp-href-include="~/lib/bootstrap/css/*.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData.["message"]</div>
    }
    @RenderBody()

</body>
</html>